.wrapperForm .welcome__title {
    color: #2e2e2e;
    text-align: center;
    font-size: 18px;
    margin: 3rem auto;
}

.wrapperForm .contact__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}